body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.grid-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: [line-start] 5fr [mid-line] 2fr [line-end];
    grid-template-rows: [line-start] 60px [mid-line] auto [mid-line-end] 50px [line-end];
    color: white;
}

.grid-item.header {
    background: black;
    grid-column: line-start / line-end;
}

.grid-item.content {
    background: royalblue;
    grid-column: line-start / mid-line;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grid-item.menu {
    background: rgb(22, 190, 151);
    margin: 2px;
}

.grid-item.footer {
    background: rgb(83, 46, 108);
    grid-column: line-start / line-end;
    display: flex;
    justify-content: space-between;
}

.main-menu {
    background: transparent;
    border: 2px solid black;
    height: 25%;
    font-weight: 600;
    margin: 3px;
    padding: 4px;
}

.menu1 {
    background: black;
    height: 20%;
    margin: 3px;
    padding: 4px;
}

.menu2 {
    background: black;
    height: 20%;
    margin: 3px;
    padding: 4px;
}

.menu3 {
    background: black;
    height: 20%;
    margin: 3px;
    padding: 4px;
}

.left {
    border: 2px solid black;
    width: 43%;
    height: 42px;
    margin: 2px;
}

.right {
    width: 58%;
    height: 42px;
    margin: 2px;
    border: 2px solid black;
}

.grid-item.content .title {
    width: 100%;
    margin: 0px 6px;
    padding: 5px;
    text-align: left;
    border: 1px solid whitesmoke;
}

.grid-item.content .text {
    width: 100%;
    height: 250px;
    text-align: left;
    margin: 0px 1px;
    padding: 5px;
    display: flex;
    flex-direction: column wrap;
    align-items: stretch;
    
}

.text .text1 {
    width: 60%;
    margin-right: 2px;
    padding: 4px;
    border: 1px solid whitesmoke;
}

.text .text2 {
    width: 40%;
    padding: 4px;
    border: 1px solid whitesmoke;
}