* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: left;
    background-color: rgb(249, 250, 245);
    border: 5px solid rgb(98, 97, 97);
    border-radius: 6px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5rem;

}

main {
    min-height: 100%;
}

header {
    height: 100px;
    border: 3px solid rgb(23, 183, 9);
    border-radius: 4px;
}

nav {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(219, 112, 147);
    border-radius: 2px;
}

nav a {
    color: rgb(53, 56, 92);
}

article {
    width: 420px;
    padding: 2px;
    border: 3px solid rgb(25, 55, 226);
    border-radius: 2px;
}

article header {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

aside {
    width: 155px;
    margin-bottom: 5px;
    border: 3px solid rgb(27, 145, 213);
    border-radius: 2px;
    flex-grow: 1;
}

p {
    margin: 5px;
    padding: 5px;
}

section {
    margin: 2px;
    border: 3px solid rgb(148, 58, 189);
    border-radius: 2px;
}

footer {
    height: 100px;
    border: 3px solid rgb(187, 184, 8);
    border-radius: 2px;
}

.row {
    display: flex;
    justify-content: space-around;

}

.div_aside {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    border: 2px solid rgb(176, 101, 55);
    border-radius: 5px;
}